services:
  mariadb:
    image: mariadb-inception
    build: ./requirements/mariadb
    pull_policy: never
    restart: on-failure
    env_file: .env
    secrets:
      - db_root_password
      - db_password
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception

  wordpress:
    image: wordpress-inception
    build: ./requirements/wordpress
    pull_policy: never
    restart: on-failure
    env_file: .env
    secrets:
      - db_password
      - wp_admin_password
      - wp_user_password
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - mariadb
    networks:
      - inception

  nginx:
    image: nginx-inception
    build: ./requirements/nginx
    pull_policy: never
    restart: on-failure
    env_file: .env
    ports:
      - "443:443"
    volumes:
      - wp_data:/var/www/html:ro
    depends_on:
      - wordpress
    networks:
      - inception

volumes:
  db_data:
  wp_data:

networks:
  inception:
    driver: bridge # the default network driver

secrets:
  db_root_password:
    file: ../secrets/db_root_password
  db_password:
    file: ../secrets/db_password
  wp_admin_password:
    file: ../secrets/wp_admin_password
  wp_user_password:
    file: ../secrets/wp_user_password
